.idea
.vscode

.mypy_cache
__pycache__/
*.py[cod]
*$py.class
blob/

src/data/emojis.yml
bot-config.yml

lavalink/application.yml
lavalink/plugins/
lavalink/Lavalink.jar
Pipfile.lock

logs/*.*.*.log
src/utilities/textbox/csscolors/target/
