config-check-level: 4
# ~ = disables the check completely
# 1 = stops the bot on required
# 2 = stops the bot on missing
# 3 = doesn't log missing
bot:
  token: "..."
  logging-level: DEBUG
  prod:
    token: ~ # if ~ always uses token above
    override: ~ # boolean
    branch: "origin"
    command-marker: ~ # see dev.command-marker
    logging-level: WARN
  debug: ~ # boolean, defaults to false on prod

  rolling:
    avatar: true # uses unstable.png if not on prod
    status: true # has no status at all instead
    interval: 3600 # seconds
    statuses: # can also be just a string
      - "[ ... ]" # Can use the variables: [shard_count] [guild_count] [token]
      - "[ ... ]"
      - "[ ... ]" # e.g. - - - - \/
      - "[ Monitoring over [guild_count] places at once. ]"
      - "[ Do I really have to do things for these users? ]"
      - "[ No thoughts right now. ]"

  main:
    guild-id: "1017531963000754247" # server id, in "", the main community server for the bot
    invite: ""
    roles:
      contributor-id: "1054832328729427988"
      translator-id: "1337522400367218758"
      supporter-id: "1044343502353481788"

modules:
  # whether the module is enabled or not
  welcome: true
  music: false
  devcommands: true

dev:
  guild-id: ~ # string, server id
  channels:
    logs: ~ # string, channel id
    more: ~ # string, channel id
  send-startup-message: true

  command-marker: "[.]" # e.g. <.> (.) [.] {.} ^.^
  whitelist:
    - ~
    - ~ #  strings, user ids
    - ~

watcher:
  ignore-4913:
    true
    # vim (the text editor) creates a file to check whether it can write files in the folder, causing random bullshi
    # this should be a FileWatcher init option but too lazy, probably will implement later or wait for someone to pr (unimportant)

database:
  dns-fix: false # use this if you're on termux and connecting to db doesn't work
  uri: ~ # string, example: mongodb+srv://meqativ:miaouw@---.mongodb.net  or  mongodb+srv://localhost

localization:
  crowdin-token:
    "..."
    # ↑ https://crowdin.com/settings#api-key
    #   Permissions:
    #     Projects → { Translation status (read only), Source files & strings (Read and Write), Translations (Read only) }
    #   Granular access: Enable
    #   go to Select projects and pick twm or whatevr you called it
  main-locale: en-GB # string, make sure the locale is 100% complete
  debug: ~ # boolean, defaults to false on prod, shows detailed error messages for not found paths if true
  whitelist:
    en:
      - ~
      - ~ #  strings, user ids

textbox:
  web:
    port: 4230
  limits:
    filesize: 52428800 # 50 * 1024 * 1024
    frames: 250
    frame-text-length: 2423
  font: "src/data/fonts/TerminusTTF-Bold.ttf"
  unproxied-hosts:
    - discordapp.com
    - discordapp.net
    - discord.com
    - github.com
    - githubusercontent.com
  color-parser-binary: "./src/utilities/textbox/csscolors/target/release/csscolors" # you have to run `cargp build --release` in the csscolors folder for this binary to appear. setup Rust on your system first: https://rustup.rs/ (this will install cargo)

music: # deprecated
  spotify:
    secret: ~
    id: ~

  lavalink:
    ip: "localhost"
    port: 4231
    password: password_here
