token: ...
database: mongodb+srv://localhost

bot-id: ... # Recommended to use the production bot ID. 

status: Chilling on top of The Tower
do-avatar-rolling: true # For "true" uses unstable.png if the token doesn't login to bot-id

dev-server-id: "1017479547664482444"
dev-command-marker: "[.]" # E.g. <.> (.) [.] {.} ^.^
devs: 
    - "user ids"
    
music:
    enabled: true # Disable if you don't want to setup lavalinque
    spotify:
        secret: ...
        id: ...
    
    lavalink:
        ip: "localhost"
        port: 4230
        password: password_here

localization:
    main-locale: en # make sure the locale is 100% complete
    debug: true # Whether to show detailed error messages for not found paths
    assigned:
        ru:
            - "831530536781873163"
            - "545986448231497728"
        uk:
            - "744276454946242723"
        en:
            - "302883948424462346"
            - "744276454946242723"
    

textbox:
    font: "bot/data/fonts/TerminusTTF-Bold.ttf"