token: ...
database: mongodb+srv://localhost

bot-id: "..." # Recommended to use the production bot ID. 

statuses: 
- text: chilling on top of The Tower
  emoji: icons.vibe # optional
do-avatar-rolling: true # For "true" uses unstable.png if the token doesn't login to bot-id


dev-command-marker: "[.]" # E.g. <.> (.) [.] {.} ^.^
devs: 
    - "user ids"
    
music:
    enabled: true # Disable if you don't want to setup lavalinque
    spotify:
        secret: ...
        id: ...
    
    lavalink:
        ip: "localhost"
        port: 4230
        password: password_here

localization:
    debug: true # Whether to show detailed error messages for not found paths
    main-locale: en # make sure the locale is 100% complete
    path: "bot/data/locales"

textbox:
    font: "bot/data/fonts/TerminusTTF-Bold.ttf"