[scripts]
bot = "python src/main.py"
textboxweb = "python src/utilities/textbox/web"

[requires]
python_version = "3.13"

[packages]
termcolor = "*"
pyyaml = "*"
watchdog = "*"
humanfriendly = "*"
dnspython = "*"
interactions-lavalink = "*"
babel = "*"
motor = "*"
aioconsole = "*"
aiofiles = "*"
pillow = "*"
psutil = "*"
jellyfish = "*"
grapheme = "*"
apng = "*"
"interactions.py" = "*"
aiohttp = "*"
aiohttp-devtools = "*"
jurigged = "*"
pyicumessageformat = "*"

[dev-packages]
yapf = "*"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
